@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600;800&display=swap');

@font-face {
  font-family: 'ElzevierCaps';
  src: url('../fonts/ElzevierCaps.ttf') format('truetype');
}

body {
    color: black;
    font-size: 1.3125rem;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: 'EB Garamond', serif;
    background-color: #fffffa;
}

p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#header #navigation {
    text-align: right;
    position: fixed;
    top: 0px;
    right: 2px;
    padding-right: 10px;
}

div#header #navigation a {
    color: gray;
    font-size: 10px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 0px;
    font-variant: small-caps;
    line-height: 1.1;
    max-width: 100%;
    font-weight: 600;
    margin: 0px auto 55px auto;
}

#heading{
    font-size: 1.5em;
    color: #aaa;
    text-align: center;
    font-weight: 400;
    margin: 80px auto 3px auto;
}

div.info {
    color: #aaa;
    font-size: 11px;
    text-align: center;
    padding-bottom: 21px;
}

#first-paragraph {
  display: block;
}

#first-paragraph::first-letter {
  font-family: "ElzevierCaps";
  font-size: 6.625em;
  margin: -.1em .03em -.25em 0;
  float: left;
  line-height: 1.1;
}

@media all and (min-width: 650px) {
    .post-content p.drop-cap-jerusalem::first-letter {
        font-family: "ElzevierCaps";
        font-size: 7.2em;
        margin: -.1em .03em -.1em 0;
        float: left;
        line-height: 1.1;
    }
}


